@use './../../styles/vars';

.portfolio__container {
  margin:auto;
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio {
  background-image: url('./../../assets/images/back-4.jpg');
  background-size: cover;
  background-position: center;

  &__bg {
    background-color: rgba(255,255,255,0.96);
  }

  &__title {
    font-size: 2rem;
    padding-top: 6rem;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    padding-bottom: 6rem;
  }


  &__card {
    width:30%;
    height: 16rem;
    margin: 1.5rem 0;
    position:relative;
    cursor: pointer;

    &-img {
      width: 100%;
      height:100%;
      object-fit: cover;
    }

    &__links {
      position:absolute;
      bottom:1rem;
      left:1rem;
    }

  }

}

@media screen and (width > 1800px) {
  .portfolio__card {
    height: 20rem;
  }
}

@media screen and (width < 1050px) {
  .portfolio__card {
    width:50%;
    margin:0;
    height:20rem;
  }

  .portfolio__card:last-child {
    width:100%;
    height:auto;
    margin-top:6rem;
  }
}

@media screen and (width < 900px) {
  .portfolio__card {
    width:100%;
    margin:0;
    height:15rem;
  }

  .portfolio__card:last-child {
    width:100%;
    height:auto;
    margin-top:6rem;
  }
}


